 /* PHASE 2: Thumbs */

.thumbnails ul {
    display: flex;
    flex-wrap: wrap;
}

.thumbnails {
    margin-top: 10px;
}
.thumbnails li {
    width: 30%;
    padding: 3px;
}

.thumb-picture > img {
    border: 1px solid;
    border-radius: 5px;
}

  .thumb-picture:after {
    content: attr(title);
    display: none;
    position: absolute;
    bottom: 75px;
    left: 50%;

    -webkit-transform: translateX(-50%); 
    transform: translateX(-50%);

    padding: 10px 20px;
    background: rgb(0, 0, 0);
    color: white;
    /* white-space: nowrap; */
  }
 
  .thumb-picture:before {
     content: "";
    display: none;
    position: absolute;
    bottom: 65px;

    left: 50%;
    margin-left: -10px;

    width: 0;
    height: 0;
    border-top: 10px solid #000;
    border-bottom: 0 solid #000;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    background: transparent;
  }

  .thumb-picture:hover:before,
  .thumb-picture:hover:after {
    display: block;
  }